root = true

[*]
max_line_length = 120
end_of_line = lf
insert_final_newline = true
charset = utf-8

# JSON
[*.json]
indent_style = tab
indent_size = 2

# NPM JSON
[{package,package-lock}.json]
indent_style = space
indent_size = 2

# YAML
[*.{yml,yaml}]
indent_style = space
indent_size = 2

# TypeScript/JavaScript
[*.{js,tx,jsx,tsx}]
indent_style = tab
indent_size = 4

# Makefiles
[Makefile]
indent_style = tab
indent_size = 4
