@import "$app/_vars.scss";

.button {
  cursor: pointer;
  --button-color: var(--accent);

  &.disabled {
    cursor: not-allowed;
  }
}

.primaryButton, .linkButton {
  &.large {
    padding: $input-button-padding * 2;
  }
}

.primaryButton {
  background: $color-primary;
  border: $color-primary-dark 2px solid;
  display: block;

  padding: $input-button-padding;
  border-radius: $input-button-radius;
}

.linkButton {
  appearance: none;
  background: none;
  padding: 0;
  border: none;
}

.squareButton,
.squareInvertedButton {
  appearance: none;
  border: var(--button-color) 2px solid;
}

.squareButton {
  background-color: var(--button-color);
  color: #fff;
}

.squareInvertedButton {
  background-color: #fff;
  color: var(--button-color);
}
