@import "$app/_vars.scss";

$padding: 1rem;

.assignmentPlanner {
  position: relative;
}

.header {
  background: $color-main;
  color: #fff;

  font-size: 0.85rem;
  display: flex;
  padding: $padding/3 $padding;

  > *:first-child {
    flex: 1 0 auto;
  }
}

.returnButton {
  color: #ccc;
}

.content {
  padding: $padding/2 $padding;
}

.info {
  color: var(--accent);
  margin-bottom: 1em;

  .course {
    font-size: 0.85em;
  }

  .name {
    font-size: 1.5em;
    line-height: 1.15em;
    margin-bottom: 0.4rem;
  }

  .due {

  }
}

.actions {
  --button-color: #{$color-main};

  display: flex;
  height: 2em;

  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;

  > * {
    flex: 1 0 auto;
  }
}

.sessionCard {
  margin-bottom: 1em;
}

.sessionCardTitle {
  color: var(--accent);
  font-size: 1.25em;
  margin-bottom: 1em;
}

.sessionCardDates {
  color: var(--accent);
  font-size: 0.9em;
}

.newSessionButton {
  cursor: not-allowed;
  font-size: 2em;
  line-height: 100%;
  text-align: center;
  color: var(--accent);
}
