@import "$app/_vars.scss";

$padding: 1rem;

.header {
  background: $color-main;
  color: #fff;

  font-size: 0.85rem;
  display: flex;
  padding: $padding/3 $padding;

  > *:first-child {
    flex: 1 0 auto;
  }
}

.returnButton {
  color: #ccc;
}

.content {
  padding: $padding/2 $padding;
}

.info {
  color: var(--accent);
  margin-bottom: 1em;

  .course {
    font-size: 0.85em;
  }

  .name {
    font-size: 1.5em;
    line-height: 1.15em;
    margin-bottom: 0.4rem;
  }

  .due {

  }
}

.sessionCardTitle {
  color: var(--accent);
  font-size: 1.25em;
  margin-bottom: 1em;
}

.sessionCardDates {
  color: var(--accent);
  font-size: 0.9em;
}
