@import "$app/_vars.scss";

.container {
  display: flex;
  min-height: 100%;
  width: 100%;

  > .dayGrid {
    flex: 1 0 auto;

    display: grid;
    grid-template-columns: repeat(7, 1fr);
    min-height: 100%;
  }

  padding-bottom: 1em;
}

.columnTitle {
  display: flex;
  align-items: center;
  justify-content: center;

  font-weight: bold;
  color: $color-black-medium;
  height: 2em;
}

.hours {
  font-size: 0.9rem;
  text-align: right;
  padding: 0 $calendar-hours-padding;
  color: $color-black-light;

  .columnBody > * {
    min-height: var(--height);
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
}

.day {
  display: flex;
  flex-direction: column;

  > .columnBody {
    position: relative;
    flex: 1 0 auto;
    border: $color-black-light 1px solid;
  }

  // For the first day, set a border radius.
  &:first-child {
    > .columnBody {
      border-top-left-radius: $calendar-border-radius;
      border-bottom-left-radius: $calendar-border-radius;
    }
  }

  // For the last day, set a border radius.
  &:last-child {
    > .columnBody {
      border-top-right-radius: $calendar-border-radius;
      border-bottom-right-radius: $calendar-border-radius;
    }
  }

  // For all the middle days, remove the left border.
  &:not(:first-child) {
    > .columnBody {
      border-left: none;
    }
  }
}

.sessionsOverlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.sessionCard {
  position: absolute;
  left: 0;
  right: 0;

  border: $color-black-medium 2px solid;
  border-radius: $large-card-padding;
  border-color: var(--accent);
  color: var(--accent);

  transition: background-color $animation-time linear;

  padding: 0.5rem;

  > .sessionCourse {
    font-size: 0.85em;
  }

  > .sessionTitle {

  }
}

.sessionCardSmall {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;

  > .sessionCourse {
    margin-right: 0.75ch;
  }

  > .sessionTitle {
    flex: 1 0 auto;
  }

  > .sessionTitle,
  > .sessionCourse {
    display: inline-block;
  }
}

.sessionCardFilled {
  background: var(--accent-light);
}
