$input-field-padding: 0.25rem;
$input-button-padding: 0.20rem;
$input-button-radius: 7px;

$large-border-radius: 5px;
$large-card-padding: 1rem;

$color-primary: #a9c5d2;
$color-primary-dark: #7ca7b9;

$color-black-light: #aaa;

$depth-shadow-1: #0002 1px 1px 3px;

$accent-mint: #4aac79;
