@import "_accents.scss";

$input-field-padding: 0.25rem;
$input-button-padding: 0.20rem;
$input-button-radius: 7px;

$medium-border-radius: 5px;
$large-border-radius: 15px;

$large-card-padding: 1rem;

$calendar-border-radius: 15px;
$calendar-hours-padding: 0.5rem;

$color-primary: #a9c5d2;
$color-primary-dark: #7ca7b9;

$color-black-medium: #999;
$color-black-light: #aaa;
$color-error-light: #fcc;
$color-error-medium: #de9292;

$depth-shadow-1: #0002 1px 1px 3px;

$accent-mint: #4aac79;
$accent-lavender: #9a7fbd;
